.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45rem;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.9rem 1.25rem;
}
